/* 清除浏览器的一些默认行为 */
html{
	font-size: 625%;
}
 body {
 	font-size: .14rem;
 	color: #999999;
 	font-family: normal normal normal normal 16px / normal Arial, Helvetica, sans-serif;
}
html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body,html,h1,p,ul,h2,h3,h4,article,section,select,input,ol,li,dd,tt{
 	margin: 0;
 	padding: 0;
}
 ul,ol,li{
 	list-style: none;
 }
 div,section,article,header,footer{
 	box-sizing: border-box;
 }
 img{
 	height: 100%;
 	width: 100%;
 }
input {
 	text-indent: 0;
 	background: transparent;
 	border: 0 none;
 	resize: none;
 	outline: none;
 	/*清除选中效果的默认蓝色边框 */
 	-webkit-appearance: none;
 	/*清除浏览器默认的样式 */
 	line-height: normal; 
 }
input::-webkit-input-placeholder{
 	/* WebKit browsers */
 	color: #999;
 }
 input:focus {
 	color: #8b8791;
 }
 /* 除去a点击时背景 */
a,a:hover,a:active,a:visited,a:link,a:focus{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	color: black;
	outline:none;
	background: none;
	text-decoration: none;
}
 /* 自定义class取消滚动条 */
 .cancel-scroll-bar{
 	margin-right: -20px;
	padding-right: 20px;
	-webkit-overflow-scrolling: touch;
 }
 ::-webkit-scrollbar{ display: none }
/* 底部tab选中的样式*/
.mint-tabbar > .mint-tab-item{
	color:#999999;
}
.mint-tabbar > .mint-tab-item.is-selected{
	color:#FF8D21;
}
/* 重写mint-ui头部样式 */
.mint-header{
	color:#FFFFFF;
	background: -webkit-linear-gradient(left , rgb(255,161,38), rgb(255,139,32)); /* Safari 5.1 - 6.0 */
    background: linear-gradient(to right, rgb(255,161,38), rgb(255,139,32)); /* 标准的语法（必须放在最后） */
}
.mint-header-title,.mintui{
	font-size: .18rem ;
}
.mint-header a{
	color:#FFFFFF;
}
/* */
#main,.content{
	height: 100%;
	width: 100%;
}
/* 底部固定*/
.tabBottom{
	position: fixed;
}
/*.content*/
.content{
	padding-bottom: .55rem;
}
/* 首页样式 */
.hi-life-index{
	height: 100%;
	padding-top: .4rem;
	position: relative;
}
.hi-life-index>header{
	position: fixed;
	display: -webkit-box;      /* 老版本 - 适配iOS 6-, Safari 3.1-6 */
	display: -webkit-flex;     /* 新版本 - 适配Chrome */
	display: flex;
	background-color:#FF8D21;
	background: -webkit-linear-gradient(left , rgb(255,161,38), rgb(255,139,32)); 
    background: linear-gradient(to right, rgb(255,161,38), rgb(255,139,32)); 
	width: 100%;
	top: 0;
	height: .4rem;
}
/* 定位*/
.seat{
	color: white;
	width: .7rem;
	line-height: .4rem;
	text-align: right;
	padding-right: .24rem;
	position: relative;
}
.seat:after{
	content: '';
	width: .16rem;
	height: .16rem;
	right: .05rem;
	top: 50%;	
	transform: translateY(-50%);
	position: absolute;
	background: url("../image/home_address_open@3x.png") no-repeat no-repeat;
	background-size: 100% 100%;
}
/* 搜索*/
.search-bar{
	flex: auto;
	height: 100%;
	padding: .05rem 0;
	box-sizing:border-box;
}
.search-bar-tool{
	height: 100%;
	width: 100%;
	position: relative;
	padding-left: .3rem;
	border-radius: .3rem;
	background-color:#FFAD59 ;
}
.search-bar-tool:before{
	content: '';
	left: .07rem;
	top: 50%;
	width: .16rem;
	height: .16rem;
	position: absolute;
	background: url("../image/home_search@3x.png") no-repeat no-repeat;
	background-size: 100% 100%;
	transform: translateY(-50%);
}
.search-bar-tool input{
	height: 100%;
	width: 90%;
	vertical-align: top;
}
.search-bar-tool input::-webkit-input-placeholder{
	color: #FFFFFF;
}
.notice{
	width:.5rem;
	padding: .05rem 0;
	text-align: center;
}
.notice-img{
	display: inline-block;
	height: .3rem;
	width: .3rem;
	background: url("../image/home_notice@3x.png") no-repeat no-repeat;
	background-size: 100% 100%;
}
/* 首页内容区*/
.hi-life-index-content{
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
/* 轮播图*/
.swiper-view{
	height: 1.4rem;
}
.mint-swipe-item img{
	height: 100%;
	width: 100%;
}
/* 分类模块*/
.fenlei{
	height: 1.86rem;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.fenlei-item{
	width: 20%;
	color: #333333;
	text-align: center;
}
.fenlei-item img{
	height: .45rem;
	width: .45rem;
}
/* 首页广告模块 */
.advertisement{
	padding: .15rem .1rem;
	height: 1.1rem ;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.advertisement-item{
	flex: 1;
	height: 100%;
	width: 100%;
	padding: 0 .06rem;
}
.advertisement-item:first-child{
	padding-right: 0;
}
.advertisement-item:last-child{
	padding-left: 0;
}
/* 分割线*/
hr{
	border: .04rem solid #F5F5F5;
}
/* 附近的商家*/
.nearly-store{
	padding-bottom: .3rem;
}
.nearly-store-title{
	height: .3rem;
	line-height: .3rem;
	text-align: center;
}
.nearly-store-item{
	height: 1.2rem;
	padding-left:.15rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.nearly-store-item-img{
	flex-shrink:0;
	width: .9rem;
	padding: .15rem 0;
	border-bottom: .01rem solid lightgray;
}
.nearly-store-item-img img{
	height: .9rem;
	width: .9rem;
}
.nearly-store-item-detail{
	flex: auto;
	padding: .15rem .1rem;
	border-bottom: .01rem solid lightgray;
}
.nearly-store-name{
	color: black;
}
.nearly-store-name .store-distance{
	float: right;
	color: #999999;
	font-weight: normal;
}
.nearly-store-summary{
	width: 100%;
	font-size: .12rem;
	padding: .03rem 0;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.nearly-store-sales span{
	color: #FF8D21;
}
.nearly-store-name{
	height: .24rem;
}
/* 公告页 */
.notice-view{
	height: 100%;
	width: 100%;
	padding-top: .4rem;
}
.notice-list{
	height: 100%;
	padding: 0 0 0 .1rem;
	padding-bottom: .2rem;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.notice-item{
	height: .9rem;
	padding: .1rem 0;
	padding-right: .1rem;
	border-bottom: .01rem solid lightgray;
}
.notice-title{
	display: flex;
	color: #333;
	align-items: flex-end;
	font-size: .14rem;
	
}
.notice-title .notice-name{
	flex: auto;
	padding-right: .1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.notice-title time{
	color: #999999;
	width: 1.2rem;
	text-align: right;
	vertical-align: bottom;
	white-space: nowrap;
	font-size: .12rem;
	font-weight: normal;
}
.item-summary{
	font-size: .12rem;
	margin-top: .1rem;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/* 公告内容页 */
.notice-context-view{
	padding-top: .4rem;
	height: 100%;
}
.notice-context{
	height: 100%;
	padding: .1rem;
	overflow: auto;
	text-indent: .28rem;
	-webkit-overflow-scrolling: touch;
}
.notice-context p{
	padding-bottom:.3rem ;
}
/* 会员中心 */
.member-center{
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
}
.member-center-banner{
	height: 1.62rem;
	position: relative;
	padding: .2rem .125rem .4rem .125rem;
	background: url(../image/memberCenter/mine_top_bg@3x.png) no-repeat no-repeat;
	background-size: 100% 100%;
}
.member-center-user{
	height: 100%;
	width: 96%;
	margin: 0 auto;
	display: flex;
	color: #FFFFFF;
	position: relative;
	align-items: center;
}
.member-center-user img{
	height: .71rem;
	width: .71rem;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: .2rem;
}
.setting-icon{
	position: absolute;
	right: 0;
	height:.15rem;
	width: .15rem;
	font-size: .15rem;
	line-height: .15rem;
	text-align: center;
}
.member-center-fufen{
	position: absolute;
	bottom: 0;
	height: 1.09rem;
	width: 96%;
	left: 50%;
	z-index: 1;
	padding: .145rem .125rem;
	display: flex;
	line-height: normal;
	align-items: center;
	justify-content: center;
	transform: translate(-50%,50%);
	background: url(../image/memberCenter/mine_medi_bg_shadow@3x.png) no-repeat no-repeat;
	background-size: 100% 100%;
}
.fufen-item{
	flex: 1;
	text-align: center;
}
.fufen-item img{
	height: .21rem;
	width: .21rem;
}
.fufen-item span{
	display: block;
	color: #333;
}
.fufen-item span:last-child{
	color: #FF8D21;
}
.member-center-list{
	position: relative;
	padding:.69rem 0 0 .15rem;
	background-color: #FFFFFF;
}
.member-center-list:before{
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	height: .01rem;
	background-color: #E5E5E5;
	z-index: 1;
}
.member-center-list-item{
	height: .55rem;
	line-height: .55rem;
	padding-right: .15rem;
	border-top: .01rem solid #E5E5E5;
}
.member-center-list-item:first-child{
	border-top:none;
}
.member-center-list-item img{
	height: .22rem;
	width: .22rem;
	vertical-align: middle;
	margin-right: .1rem;
}
.member-center-list-item .list-title{
	color: #333;
}
.member-center-list-item .more{
	float: right;
}
